*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1{
    width: 250px ;
    height : 250px;
    border-radius: 5px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    border: 3px solid white;
}
.minute{
    font-size: 3rem;
    
}
.sec{
    font-size: 3rem ;
}
.msec{
    font-size: 2.8rem;
}
.buttonWrap{
    width:250px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.button{
    width:50px;
    height:50px;
    border-radius: 50%;
    color:#fff;
    border: 2px solid whitesmoke;
    background-color: black;
}
.button:hover{
    background-color: #fff;
    color: black;
}
.time{
    color: #cccccc;
}
.timeStamp{
    display: inline-block;
    margin-left: 25px;
}
.lap{
    height: 300px;
    overflow: auto;
    list-style: none;
    position: relative;
    width: 300px;
   
    color: #fff;
}
.lap::-webkit-scrollbar{
    display: none;

}
.lapItem{
    display: inline-block;
    width: 300px;
    padding: 15px;
    background-color: rgb(3, 3, 66);
    text-align: center;
    margin-bottom: 15px;
}
.clear_laps{
    position: fixed;
    display: block;
    z-index: 1000;
    bottom:50px;
    left:50%;
    transform: translate(-50%);
    width: 300px;
    padding: 15px 0;
    border-radius: 50px;
    background-color: rgb(254, 251, 251,0.9);
    border: 1px solid white;
    color:black;
}
